@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800&display=swap");
//for everything
$bg-dark: #282828;
$bg-grey: #e8e8e8;
$green-color: #7fcd25;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100px;
  height: 100px;
}
a {
  text-decoration: none;
  color: white;
}
.active {
  color: $green-color;
  font-weight: 800;
}
.btn {
  color: #fff;
  background-color: $green-color;
  cursor: pointer;
  width: 112px;
  height: 37px;
  border-radius: 50px;
  border: #7fcd25;
}
.btn:hover {
  text-decoration: underline;
  font-weight: bolder;
}
// Home page
body {
  height: 100vh;
  font-family: "Alegreya Sans", sans-serif;
}
//header
header {
  line-height: normal;
  .container {
    background: $bg-dark;
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1.3rem;
    // align-items: center;
    #logo {
      font-size: 36px;
      font-style: normal;
      font-weight: 800;
    }
    ul {
      display: flex;
      list-style: none;

      li {
        font-size: 20px;
        font-weight: 300;
        padding: 1rem;
      }
      li:hover {
        text-decoration: underline;
        color: $green-color;
      }
    }
    #login {
      position: absolute;
      top: 2.5rem;
      right: 9rem;
    }
  }
}
//section home
#home {
  .container {
    #banner {
      background-image: url(images/home-photo.jpg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      text-align: center;
      padding: 1rem;
      h1 {
        font-size: 70px;
        font-weight: 500;
        color: white;
        text-shadow: 1px 4px 20px rgba(0, 0, 0, 0.25);
      }
      span {
        color: $green-color;
      }
    }
    #home-products {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      margin-top: 2rem;
      h3 {
        margin-bottom: 2rem;
        font-weight: 400;
        font-size: 24px;
      }

      #cards {
        display: flex;
        justify-content: space-between;

        .product-card {
          background: $bg-grey;
          text-align: left;
          padding: 1rem;
          border-radius: 20px;
          margin: 2rem;
          img {
            border-radius: 20px;
            display: table;
            margin: 0 auto;
            width: 168px;
            height: 161px;
          }
          a {
            color: black !important;
            font-weight: 500;
          }
        }
      }
    }
  }
}
//home-about
#home-about {
  .about-div {
    display: grid;
    padding: 2rem;
    grid-template-areas:
      "header header text arrow"
      "p p img img"
      "btn btn img img";
    h2 {
      grid-area: header;
      font-size: 48px;
      font-weight: 700;
      margin-bottom: 2rem;
    }
    p {
      grid-area: p;
      font-size: 22px;
      padding-right: 20rem;
      text-align: left;
      a {
        color: black;
        text-decoration: underline;
      }
    }
    .btn {
      grid-area: btn;
      margin-top: 2rem;
      width: 122px;
      height: 47px;
      font-size: 17px;
    }
    #statistics {
      grid-area: img;
      width: 605px;
      height: 425px;
    }
    .arrow {
      grid-area: arrow;
      width: 66px;
      height: 50.5px;
      padding-left: 1.2rem;
      animation: moveArrow 1s alternate-reverse infinite;
    }
    h4 {
      grid-area: text;
      font-weight: 400;
      font-size: 36px;
      text-align: right;
    }
    span {
      color: $green-color;
    }
  }
}

//footer
footer {
  background-color: $bg-dark;
  display: flex;
  color: white;

  flex-direction: row;
  #logo {
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    padding-left: 3rem;
  }
  p {
    font-weight: 300;
    font-size: 20px;
    margin: auto;
  }
  span {
    color: $green-color;
  }
}
//End of home page

//About page
#about {
  .about-div {
    display: grid;
    padding: 2rem;
    grid-template-areas:
      "header header img1 img1"
      "p p img1 img1";
    h2 {
      grid-area: header;
      font-size: 48px;
      font-weight: 700;
      margin-bottom: 2rem;
    }
    span {
      color: $green-color;
    }
    img {
      grid-area: img1;
      width: 605px;
      height: 425px;
    }
    p {
      grid-area: p;
      width: 700px;
      text-align: left;
      font-size: 22px;

      a {
        color: black;
        text-decoration: underline;
      }
    }
  }
  .about {
    display: grid;
    padding: 2rem;
    grid-template-areas:
      "text text2 arrow2 arrow "
      "img2 img2 h3 h3"
      "img2 img2 p p";
    h4 {
      grid-area: text2;
      font-size: 30px;
      text-align: right;
      width: 217px;
      height: 25px;
      font-weight: 400;
      margin-bottom: 6rem;
    }
    #arr2 {
      grid-area: arrow2;
      justify-self: left;
      width: 66px;
      height: 50.5px;
      padding-left: 1.2rem;
      animation: moveArrow 1s alternate-reverse infinite;
    }
    #chart {
      grid-area: img2;
      width: 605px;
      height: 425px;
    }
    h3 {
      grid-area: h3;
      font-size: 48px;

      font-weight: 700;
    }
    p {
      grid-area: p;
      width: 700px;
      text-align: left;
      font-size: 22px;
    }
  }
}
//End of about
//contact
#contact {
  .container {
    display: flex;
    flex-direction: row;

    justify-content: center;
    width: 100%;
    gap: 8rem;
    img {
      width: 340px;
    }
    #form {
      border: 1px solid #acacac;
      width: 720px;
    }
  }
}
//end of contact
//keyframes
@keyframes moveArrow {
  from {
    transform: translateY(-15px);
  }
  to {
    transform: translateY(0);
  }
}
